[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule "bundle/easy-motion"]
	path = bundle/easy-motion
	url = https://github.com/Lokaltog/vim-easymotion
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "bundle/vim-go"]
	path = bundle/vim-go
	url = https://github.com/fatih/vim-go
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir
[submodule "bundle/vim-cucumber"]
	path = bundle/vim-cucumber
	url = https://github.com/tpope/vim-cucumber
[submodule "bundle/elm.vim"]
	path = bundle/elm.vim
	url = https://github.com/lambdatoast/elm.vim
[submodule "bundle/vim-scala"]
	path = bundle/vim-scala
	url = https://github.com/derekwyatt/vim-scala
[submodule "bundle/rainbow_parentheses.vim"]
	path = bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule "bundle/vim-clojure-static"]
	path = bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule "bundle/vim-fireplace"]
	path = bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule "bundle/vim-clojure-highlight"]
	path = bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown
